<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Age Calculator</title> 
</head> 
<body> 
    <h1>Age Calculator</h1> 
    <form method="POST" action="/"> 
        {{ form.hidden_tag() }} 
        <p> 
            {{ form.date_of_birth.label }}<br> 
            {{ form.date_of_birth(size=32) }}<br> 
            {% for error in form.date_of_birth.errors %} 
                <span style="color: red;">[{{ error }}]</span> 
            {% endfor %} 
        </p> 
        <p>{{ form.submit() }}</p> 
    </form> 
    {% with messages = get_flashed_messages(with_categories=true) %} 
      {% if messages %} 
        <ul> 
        {% for category, message in messages %} 
          <li class="{{ category }}">{{ message }}</li> 
        {% endfor %} 
        </ul> 
      {% endif %} 
    {% endwith %} 
</body> 
</html> 